[Unit]
Description=Clamav on access scan service
[Service]
After=clamd
ExecStart=/usr/local/bin/start_clamonacc.sh
ExecStop=/usr/bin/killall -SIGKILL clamonacc
RemainAfterExit=yes
